.article {
  @include span-columns(8);
  @include padding-trailer(4);

  .hero-image {
    text-align: center;
  }

  h1,
  .meta,
  p {
    @include pre(2);
    @include span-columns(4);
    img { max-width: 100%; }
  }

  h1 {
    font-family: 'Bangla MN', Bangla MN, sans-serif;
    @include adjust-font-size-to(25px, 1);
    font-weight: bold;
    @include leader(1);
  }

  p {
    line-height: 170%;
  }

  .meta,
  p {
    @include trailer(1);
  }
}

.hero {
  max-width: 100%;
}