@include with-grid-settings(4, $column-width, 0.5em, 2em) {
  .featured {
    border: 1px solid blue;
    margin: 1em;
    padding: 2em;
    overflow: auto;
    font-family: 'Monoxil';
    @include margin-leader(5);

    .title {
      color: blue;
      font-size: 36px;
      @include margin-trailer(1);
    }

    .featured-post {
      @include span-columns(1);
      @include nth-omega(4n);

      a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }

      img {
        max-width: 100%;
      }
    }
  }
}