.header {
  position: fixed;
  z-index: 99;
  padding: 1.5em;
  @include span-columns(8);

  h1 {
    font-family: 'Bangla MN', Bangla MN, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    
    > a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.burger {
  position: absolute;
  top: 1em;
  
  > li {
    display: none;    
  }

  &:before {
    content: "";
    display: block;
    width: 2em; height: 2em;
    background-color: red;
    position: absolute;
  }
}