.header {
  position: fixed;
  z-index: 99;
  padding: 1.5em;
  @include span-columns(8);

  h1 {
    font-family: 'Bangla MN', Bangla MN, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    
    > a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}