@include with-grid-settings(3, $column-width, 0.5em, 2em) {
  .river {
    @include container;
    overflow: auto;
    @include padding-leader(1);
    @include margin-leader(2);
    border-top: 1px solid #000;

    .title {
      font-weight: bold;
      @include margin-trailer(1);
    }
  }

  .river-gutter {
    width: 3%;
  }

  .river-article {
    @include span-columns(1);
    margin-right: 0;
    margin-bottom: 1em;
    img { max-width: 100%; }

    h3 {
      display: block;
    }

    .meta {
      font-family: Helvetica Neue, 'Helvetica Neue', Helvetica, sans-serif;
      padding: 0 0.5em;
      @include adjust-font-size-to(14px, 1);
      border: 1px solid rgb(0, 245, 255);
      display: inline-block;
      margin: 0.5em 0;
    }
  }
}

.more-button {
  
}