@charset "utf-8";
@import "compass";
@import "compass/reset";
@import "susy";

/* Full width grid */
$total-columns      : 8;             // a 12-column grid
$column-width       : 4em;            // each column is 4em wide
$gutter-width       : 1em;            // 1em gutters between columns
$grid-padding       : 0;              // grid-padding equal to gutters
$container-style    : fluid;

$font-family: Times, serif;
$base-font-size: 18px;
$base-line-height: 26px;
@include establish-baseline;

@import "typography";
@import "layout";

@import "header";
@import "article";
@import "issue";
@import "header";
@import "river";
@import "hands";