.river
  .title More More More!
  %ul.river-list
    - page_articles.each_with_index do |article, i|
      %li.river-article
        %img{src: article.metadata[:page]['hero']}
        %h3
          = link_to article.title, article
        .meta
          - if article.metadata[:page]['issue'].present?
            = "Issue #{article.metadata[:page]['issue']}"
        .article-summary= article.summary(200)