.river
  .title More More More!
  .river-list
    .river-gutter
    - page_articles.each_with_index do |article, i|
      .river-article
        %img{src: article.metadata[:page]['hero']}
        %h3
          = link_to article.title, article
        .meta
          - if article.metadata[:page]['issue'].present?
            = "Issue #{article.metadata[:page]['issue']}"
        .article-summary= article.summary(200)

  %a.more-button{ href: "#more" }
    view more!